body {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.5;
}

.jumbotron {
    background-image: url('background.png');
}

.jumbotron h1 {
    font-size: 50px;
    font-weight: 700;
}

.jumbotron h1 small {
    font-weight: 700;
}

p {
    font-size: 18px;
    margin: 0 0 15px;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  .jumbotron .container {
    max-width: 730px;
  }
}

/* Customize container */
@media (min-width: 1000px) {
  .container {
    max-width: 900px;
  }

  .jumbotron .container {
    max-width: 900px;
  }
}


.videowrapper {
    float: none;
    clear: both;
    width: 100%;
    position: relative;
    padding-bottom: 52.50%;
    padding-top: 25px;
    height: 0;
}
.videowrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
